body {
    font-family: Helvetica;
    box-sizing: border-box;
}

#mainDiv {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #DDD;
}

#controlsMainDiv {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}